.editorWrapper {
  position: relative;
  height: 100%;
  .utility {
    position: absolute;
    top: -42px;
    left: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: row;
    button {
      color: white;
      margin: 2px;
      &:hover {
        background: rgb(77, 75, 75);
      }
      &:disabled {
        color: rgb(77, 75, 75);
      }
    }
  }
  &:hover .utility {
    opacity: 1;
  }
}
