.resizableBox {
  display: block;
  height: 100%;

  .reactResizableHandle {
    display: block;
    background-color: #37414b;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  &.resizeHorizontal {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .reactResizableHandleS {
    height: 10px;
    width: 100%;
    cursor: row-resize;
    display: block;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  }
  .reactResizableHandleE {
    width: 10px;
    min-width: 10px;
    // height: 100%;
    cursor: col-resize;
    float: right;
    /* display: inline-block; */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  }

  .disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
